{
    "TwitterGetFunction": {
        "CONSUMER_SECRET": "sample"
    },
    "TwitterPostFunction":{
        "CONSUMER_KEY": "sample",
        "CONSUMER_SECRET": "sample",
        "ACCESS_TOKEN_KEY": "sample",
        "ACCESS_TOKEN_SECRET": "sample"
    },
    "TwitterScheduleFunction":{
        "CONSUMER_KEY": "sample",
        "CONSUMER_SECRET": "sample",
        "ACCESS_TOKEN_KEY": "sample",
        "ACCESS_TOKEN_SECRET": "sample"
    }
}
